.card-padding {
    margin: 5px;
    max-width: 10rem;
    max-height: 15rem;
}

.card-body {
    background-color: rgb(65, 91, 206);
}

.main-card-style {
    max-width: 15rem;
    max-height: 25rem;
}
.uv-index-low {
    background-color: lightgreen;
}
.uv-index-moderate {
    background-color: yellow;
}
.uv-index-high {
    background-color: orange;
}
.uv-index-very-high {
    background-color: red;
}
.uv-index-extreme {
    background-color: rgb(139, 8, 122);
}
.history{
    margin: 2px;
    
}

.bg {
    background-image: url("./assets/sunny.jpg");
    background-size: cover !important;
    min-height: 100vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
  }

#city{
    padding: 5px;
}
.day-card {
    padding-top: 10px;
}
.navbar-style {
    display: flex;
    justify-content: space-around;
    background-color: rgb(65, 91, 206);
}